.tint {
    position: relative;
    float: left;
    /*margin-right: 20px;
    margin-bottom: 20px;*/
    cursor: pointer;
    /*-webkit-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    -moz-shadow: rgba(0,0,0,.2) 3px 5px 5px;*/
      background: rgba(0,255,255, 0.5);
  }

  .tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  .tint:hover:before {
    background: rgba(0,255,255, 0.5);
  }

  .t2:hover:before {
    background: rgba(0,0,255, 0.5);
  }
