#job_list {
    font-size: 100%;
    width: 100%;
    margin-top: 2em;
    padding-bottom: 1em;
}

.job_ td {
  vertical-align: middle;
}

.job_ td div{
  position: relative;
  width: 10%;
  min-width: 30px;
  min-height: 30px;
    /*height: 10%;
    width: 100%;
    vertical-align: middle;*/
}

#job_list .job_ {
    float: left;
    padding-bottom: 3%;
}

.job_desc{
    font-size: 80%;
    padding-left: 2%;
    width: 42em;
}
.job_desc.success {
    text-decoration: line-through;
}

.job_icon{
  position: absolute;
  width: 10%;
  min-width: 30px;
  /*height: 100%;*/
    /*background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;*/
}
.job_icon.success {
    /*background-image: url();*/
}

.job_energy, .job_points{
    width: 3.9em;
    height: 1em;
    font-size: 0.8em;
    text-align: center;
}
