.notifyjs-corner{
  top: 50% !important;
  left: 0 !important;
  right: 0 !important;
  margin: 0!important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.notifyjs-wrapper{
  margin: 0% !important;
  padding: 0;
}
.notifyjs-arrow{
  height: 100% !important;
  width: 100% !important;
}
.notifyjs-container{
  height: 100% !important;
  width: 100% !important;
  margin: 0% !important;
}

.notifyjs-3s-base{
  /*opacity: 0.85;*/
  opacity: 1;
  height: 100%;
  /*width: 96%;*/
  background-color: #222222;
}
.notifyjs-3s-error{
  background: red;
}

.notifyjs-3s-success{
  background: green;
}

.notifyjs-3s-warning{
  background: orange;
}

.notifyjs-3s-base, .notifyjs-bootstrap-base {
  border-radius: 0 !important;
  border: 0 !important;
  font-weight: 300 !important;
  text-shadow: none !important;
  color: #ffffff !important;
  padding: 8px;/* 0 8px 0;*/
  background-repeat: no-repeat;
  background-position: 3px 7px;
}

.notifyjs-3s-error, .notifyjs-bootstrap-error {
  background-color: rgba(139, 0, 0, 0.85) !important;
}

.notifyjs-3s-base .clearfix {
  padding-top: 0 !important;
}

.clearfix {
  padding-top: 10%;
}
.notifyjs-3s-base .title {
  width: 100%;
  float: left;
  text-align: center;
}
