body {
    text-align: center;
    color: white;
    font-family: "Open Sans", sans-serif !important;
    font-size: 15px;
    overflow: hidden;
}
.leaflet-container {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}


h1, h2, h3, h4 {
    font-weight: 500;
}
h1 {
    margin-top: 0.4em;
    margin-bottom: 0;
}
h2 {
    margin-top: 0.6em;
    margin-bottom: 0.7em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.TextColorGradient{
    color: #ffffff;
    background-image:linear-gradient(90deg, #989797 15%, transparent 95%);
    text-align: left !important;
    overflow: inherit;
    margin: 0.4em 0;
    padding: 0 5%;
    font-size: 1.3em;
    text-transform: uppercase;
    font-weight: 300;
    word-wrap: break-word;
    line-height: 1.2;
}

.glowed{
    box-shadow: 0px 0px 30px 2px #cf5
}

#main {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    background: black;
    filter: alpha(opacity=40);
    position: absolute;
}
#crop, .cr-boundary, .cr-slider-wrap{
    position: absolute !important;
    z-index: -100 !important;
    top: +200% !important;
}
#login, input {
    align-content: center !important;
    text-align: center !important;
    list-style-type: none !important;
    /*color: white !important;  # Textcolor im Loginfeld sonst weiß */
    padding-left: 0% !important;
}


button, input, select, input[type="checkbox"], input[type="button"], input[type="reset"], input[type="submit"], input[type="select"] {
    background-color: black;
    border-style: solid;
    border-color: white; /* subtle shadow */
    border-width: 1px 1px; /* damits nen Schatten is */
    color: white;
    /*color: #FFFFFF; /* Button Farbe im Select (Datei auswählen im PhotoUpload) trotzdem schwarz - find vom User Agent Style */
    /*border-radius: 6px;*/
    cursor: pointer;
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    padding: 7px 10px 6px;
}

button:focus, input:focus, select:focus {
    outline: none;
}

#username_input, #password, #password2, #study{
    background-color: #222222;
}


#settings, input {
    color: white;
}

#main ul{
    padding-left: 5%;
    list-style-type: none;
    color: white;
}

#map {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: left;
    z-index: 2;
}

#settings {
    position: relative;
    left: 4%;
    color: white;
}

#FactionChooser {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

#factionImg {
    top: 0%;
    background-size: contain;
    background: no-repeat center center;
    height: 40%;
    width: 100%;
}

#factionLore {
    position: relative;
    left: 5%;
    top: 5%;
    height: 60%;
    width: 90%;
    overflow-y: scroll;
}

#setFaction {
    position: relative;
    height: 10%;
    width: 10%;
    right: 10%;
    top: 2vh;
    left: 77vw;
    background-size: contain;
    background: no-repeat center center;
}

.btn {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: 55px;
    max-height: 55px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

button, input, select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#text, #belohnung {
    width: 100%;
    font-size: 86%;
}

#belohnung img {
    width: 40%;
    height: 40%;
}

img[src=""]{
    content: '';
    width:0 !important;
    height:0 !important;
    display: none;

}

*[backgroundImage*="background-url"]{
    content: '';
}

.little{
    font-size: 0.9em;
}


.quest, .score, #fragment, .locationDetail, .questDetail, .faction_chooser, #overlay, #InputDialog {
    border: 2px solid white;
}

.content_container {
    position: relative;
    top: 12%;
    right: 5%;
    float: right;
    height: 74%;
    width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#loadBtnDiv {
  height: 2.5em;
  width: 100%;
  margin-bottom: 1em;
}

.centered-lbl {
  display: block;
  font-size: large;
  text-align: center;
}
