#InputDialog {
    position: absolute;
    top: 25%;
    left: 50%;
    float: right;
    width: 70%;
    max-width: 420px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: black;
    z-index: 100;
}

#InputDialogTitle {
    position: relative;
    font-size: 3.5vw;
    vertical-align:middle;
    line-height: 2;
    float: left;
    width: 92%;
}

.dialog-inner {
    float: left;
    width: 100%;
}

#btnContainer {
  width: 204px;
  height: 7vh;
  min-height: 30px;
  max-height: 40px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

#btnContainer div {
    position: relative;
    width: 30%;
    height: 70%;
    display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

#btnOK {
    float: left;
}

#btnCancel {
    float: right;
}

#InputDialog .TextColorGradient {
    font-size: 130% !important;
    width: 90%;
}
