#overlay{
    position: absolute;
    top: 25%;
    left: 15%;
    /*right: 4%;*/
    /*float: right;*/
    height: 50%;
    width: 80%;
    max-width: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    border: solid;
    border-color: white;
    background: gray;
    z-index: 100;
}

#overlay_content
{
    position: absolute;
    height: 90%;
    width: 86%;
    left: 7%;
    right: 7%;
    top: 5%;
    bottom: 5%;
}

@media screen and (min-device-width: 575px) {
    #overlay {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}