#actions{
  position: absolute;
  width: 50%;
  max-width: 250px;
  top: 0px;
  right: 0px;
  background-position: center center;
  background-image: url("../../img/actions.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
}
#actions ul {
  position: relative;
  margin: 0;
  padding: 0 0 0 8%;
  float: right;
  height: 100%;
  display: inline;
  text-align: center;
}
#actions ul li {
  display: inline-block;
  width: 20%;
  height: auto;
  margin: 0 0.4em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#actions ul li img {
  position: relative;
  width: 100% !important;
  height: 100% !important;
  display: block;
}
#actions ul li img[src=""] {
  border: none;
  opacity: 0;
}

@media screen and (min-width: 460px) {
  #actions ul {
    padding-left: 11%;
    padding-right: 6%;
  }
}
