#madness{
    visibility: hidden;
    z-index: 5;
    position: absolute;
    right: 0%;
    background-image: url("../../img/ui/madness_bar/wahnsinnsbarometerkomplett.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#madnessBar{
    visibility: hidden;
    z-index: 4;
    position: relative;
    float: right;
    background-color: yellow;
    opacity: 0.3;
    height: 55%;
    top: 15%;
    right: 7%;
    bottom: 30%;
}
