#locations{
    position:absolute;
    left: 1.5%;
    bottom: 11%;
    z-index: 2;
}

#locations ul{
    list-style-type: none;
    border-style: solid;
    border-width: 2px;
    border-color:white;
    background: gray;
    width: 35px;
    min-height:25px;
}
#locations img {
    width: 100%;
    height: 33%;
    z-index: 4;
}
#location_button
{
    position: relative;
    height: 25px;
    width: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/buttons/locations.png");
    display: none;
}
