#menu{
  position: relative;
  top: 13%;
  list-style-type: none;
  width: 15%;
  height: 50%;
  float: left;
  z-index: 2;
}
#menu ul{
  position: relative;
  list-style-type: none;
  left: 0px;
  height: 80%;
  width: 80%;
}
#menu ul li{
  height: 3em;
  width: 3em;
  max-width: 55px;
  max-height: 55px;
}
.active_btn{
  -webkit-filter: drop-shadow(0 0 5px rgba(255,255,255,0.8));
  filter: drop-shadow(0 0 5px rgba(255,255,255,0.8));
}
#map_btn{
  background-image: url("../../img/buttons/icon_map.png");
}
#quest_btn{
  background-image: url("../../img/buttons/icon_quest.png");
}
#score_btn{
  background-image: url("../../img/buttons/icon_leaderboard.png");
}
