#stats, #level{
    color: white;
    position:absolute;
    /*width: 60%;*/
    width: 60vw;
    bottom: 1%;
    left: 20%;
    right: 25%;
    z-index: 2;
}
.stats_part{
    float: left;
    color: white;
    position:relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 54px;
    bottom: 0%;
    z-index: 2;
}
#stats_left{
    left:0%;
    /*background-position: right center;*/
    /*width: 20%;*/
    /*max-width: 62.64px;*/
    background-image: url("../../img/ui/stats/stats_left.png");
    width: 10vw;
}
#stats_center{
    /*width: 50%;*/
    background-size: 100% 100%;
    background-image: url("../../img/ui/stats/stats_center.png");
    width: 30vw;
}
#stats_right{
    /*background-position: left center;
    width: 30%;
    max-width: 92.88px;*/
    background-image: url("../../img/ui/stats/stats_right.png");
    width: 20vw;
}

#stats_center p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.stats_part .stats_bottom {
    top: 0;
    bottom: 0;
    right: 0;
}
.stats_part .stats_bottom p {
    font-size: 100%;
    padding-left: 1.8em;
    text-align: left;
}
#point{
    background-position: left center;
    text-align: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/ui/stats/punkte.png");
    position: relative;
    right: 55%;
    width: 45%;
    max-width: 80px;
    float: right;
    z-index: 3;
}
#energy{
    background-position: left center;
    text-align: right;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/ui/stats/energie.png");
    position: relative;
    left: 50%;
    width: 45%;
    max-width: 80px;
    float: left;
    z-index: 3;
}
#levelBar{
    bottom: 12%;
    height: 12%;
    position: absolute;
    background-color: orangered;
    z-index: 5;
    left: 5.8vw;
}
#levelBarText{
    color: white;
    position: relative;
    font-size: 0.7em;
    z-index: 5;
    left: 40%;
    top: 30%;
}
#username {
    color: white;
    position:absolute;
    bottom: 54px !important;
    left: 22%;
    right: 25%;
    z-index: 2;
    margin: 0 0 0.5em 0;
    text-align: left;
    text-transform: uppercase;
}

#faction{
    width: 25%;
    height: 15%;
    max-width: 100px;
    position:absolute;
    background-position: center center;
    background-image: url("../../img/faction.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 0%;
    bottom: 1%;
    z-index: 2;
}

#picture{
    width: 20%;
    height: 10%;
    max-width: 100px;
    position:absolute;
    background-position: center center;
    /*background-image: url("../../img/buttons/Placeholder_profilpic.png");*/
    background-size: contain;
    background-repeat: no-repeat;
    left: 0%;
    bottom: 2%;
    z-index: 2;
}

#cropedImage{
    position: relative;
    /*width: 25%;
    height: 25%;*/
    left: 25%;
    right: 25%;
    top:25%;
    bottom: 25%;
}
