#title {
    position: absolute;
    width: 50%;
    max-width: 250px;
    top: 0px;
    left: 0px;
    background-position: center center;
    background-image: url("../../img/title.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#title_name{
    position: relative;
    top: 5%;
    padding-top: 5%;
    font-size: 80%;
    margin: 0%;
    text-indent: 10%;
    color: white;
    left: 2vw;
    text-align: left;
}

#title_sub{
    position: relative;
    font-size: 60%;
    margin: 0%;
    text-indent: 15%;
    padding-bottom: 5%;
    color: white;
    left: 2vw;
    text-align: left;
}
