#setFaction{
    position: relative;
    background-size: contain !important;
    bottom: 2%;
    right: -2%;
    margin-top: 2%;

}

.faction_content{
    position: absolute;
    width: 90%;
    height: 80%;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: -1em;
    margin-bottom: 0.5em;

    overflow-x: hidden;
    overflow-y: scroll;
}

