#questionContainer, #settingsContainer, #newsContainer{
    position: relative;
    overflow-y: scroll;
    width: 90%;
    max-height: 90%;
    margin: 0 5%;
}

.question{
    position: relative;
    margin-bottom: 8%;
}

.faqContainer{

    height: 100% !important;
    width: 100% !important;
    left: 0% !important;
    right: 0% !important;
    top: 0% !important;
    bottom: 0% !important;
}




