
.Close{
    position: absolute;
    width: 10%;
    top: 10%;
    left: 80%;
    z-index: 10;
}
#close{
    position: relative;
    width: 15%;
    height: 15%;
    top: 15%;
    left: 80%;
    background-size: contain;
    background: url("../../img/buttons/icon_close.png") no-repeat center center;
    z-index: 10;
}

#fragment{
    background: gray;
    /*background-image: url("../../img/ui_hintergrund.png");
    background-position: center center;

    background-repeat: no-repeat;
    background-size: contain;*/
}
.fragmentLandscape{
    /*background-position: center center;
    background-image: url("../../img/ui_hintergrund_landscape.png") !important;
    background-repeat: no-repeat;
    background-size: contain;*/
}

#fragment_content
{
    position: absolute;
    height: 90%;
    width: 86%;
    left: 7%;
    right: 7%;
    top: 5%;
    bottom: 5%;
}

.Abgabe, .Accept{
    position: relative;
    width: 10%;
    bottom: 50%;
    left: 70%;
}
