.score{
  top: 5%;
  width: 98%;
  height: 16%;
  margin: 0.5em 0;
}
.score_left {
  position: relative;
  float: left;
  width: 24%;
  left: 0%;
  height: 100%;
}
.score_right {
  position: relative;
  float: left;
  top: 10%;
  bottom: 10%;
  width: 24%;
  right: 0%;
  height: 70%;
  max-height: 108px;
  max-width: 161px;
}
.score_middle{
  position: relative;
  float: left;
  left: 0%;
  top: 10%;
  bottom: 10%;
  width: 52%;
  height: 90%;
  max-height: 108px;
  max-width: 353px;
}
.score_img{
  position: relative;
  background: url("../../img/buttons/Placeholder_profilpic.png") no-repeat left center;
  background-size:contain !important;
  background-position: center center;
  border-right: solid 1px;
  border-color: white;
  height: 100%;
  width: 100%;
}
.score_faction{
  background: no-repeat center center;
  background-size: contain;
  right: 10%;
  height: 100%;
  width: 100%;
  z-index: 90;
}
.score_title{
  position: relative;
  width: 115%;
  margin: 0 !important;
  left: 5%;
  top: 0px;
  font-size: 3vh !important;
  line-height: 1 !important;
  z-index: 100;
  padding-bottom: 2px;
}
.score_container {
  position: absolute;
  left: 14%;
  bottom: 16%;
  width: 80%;
  font-size: 0.8em;
  float: left;
}
.score_container p {
  margin: 0;
}
.score_rank{
  position: relative;
  float: left;
  width: 35%;
}
.score_point{
  position: relative;
  width: 65%;
  float: right;
  text-align: right;
}
#score_list{
  position: relative;
  top: 10%;
  right: 5%;
  float: right;
  height: 76%;
  width: 80%;
  overflow-x: hidden;
  overflow-y: scroll;
}
#myChart{
  max-height: 60vh;
  max-width: 90vh;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
}
#news{
  position: relative;
  width: 80%;
  height: 80%;
  float: right;
  right: 5%;
  top: 12%;
}
@media screen and (min-device-height: 768px) {
  .score_title {
    font-size: 160% !important;
  }
}
