#LocationInfo {
    position: absolute;
    top: 25%;
    left: 15%;
    height: 40%; /* 50% */
    width: 80%;
    max-width: 460px;
    z-index: 2;
    border: solid;
    border-color: white;
    background: gray;
}

#LocationInfoHeader
{
    position: relative;
    height: 48%; /* 50% */
    width: 100%;
    z-index: 3;

    background-position: 50% 60%;
    background-size: cover; /* oder contain */
    background-repeat: no-repeat;

    border-bottom: solid 1px;
}

#LocationInfoHeaderFactionImage
{
  height: 80%;
  display: block;
  padding: 5% 5%;
}

#LocationInfoData {
    position: relative;
    /*top: 0;*/
    height: 52%;
    width: 100%;
    z-index: 2;
}
#locatioNameContainer {
    float: left;
    width: 90%;
    font-size: 100% !important;
}
#LocationName {
    position: relative;
    font-size: 4vw;
    /*top: 0;*/
    /*right: 5%;*/
    vertical-align:middle;
    line-height: 2;
    /*margin: 0.5vh 0 0 0;*/
    float: left;
    /*width: 92%;*/
}
#energyV {
    position: relative;
    /*top: 5%;*/
    vertical-align:middle;
    line-height: 2;
    left: 0%;
    top: 0%;
    z-index: 5;
    text-align: right;
    font-size: 4vw;
    background-image: url("../../img/ui/stats/energie.png");
    background-size: 2vh ;
    background-repeat: no-repeat;
    background-position: 60vw;
}

#LocationInfoBtn
{
    position: relative;
    float: left;
    top: 10%;
    left: 10%;
    width: 20%;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    z-index: 5;
    /*
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../img/buttons/icon_info.png");
    */
}

#LocationInfoBtn img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

#LocationAttackContainer {
    position: relative;
    float: right;
    top: 10%;
    right: 10%;
    width: 20%;
    max-width: 70px;
    max-height: 70px;
    z-index: 4;
}
#LocationAttackContainer img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
#attackV {
    position: absolute;
    top: -2.5vh;
    /*left: 6.5vw;*/
    left: 50%;
    width: 70%;
    z-index: 5;
    font-size: 1.8vh;
    text-align: left;
    background-image: url("../../img/ui/stats/energie.png");
    background-size: auto 2vh;
    background-repeat: no-repeat;
    margin: 0 0 0 -3vw;
    padding: 0 0 0 3vw;
    vertical-align: middle;
    line-height: 2vh;
}
#LocationAttackContainer .openOverlay {
    width: 100%;
    height: 100%;
    z-index: 4;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#LocationAttackContainer .openOverlay svg {
    margin: -1px;
    position: absolute;
    left: 0;
}
/*
#LocationAttackBtn
{
    background-image: url("../../img/buttons/Angriff.png");
}
#LocationAttackBtnGrey
{
    background-image: url("../../img/buttons/Angriff_Grau.png");
}
#LocationDefenseBtn
{
    background-image: url("../../img/buttons/Defense.png");
}
#LocationDefenseBtnGrey
{
    background-image: url("../../img/buttons/Defense_Grau.png");
}
*/

#LocationInfoDataTitle {
    position: relative;
    top:-2%;
}


@media screen and (min-device-width: 575px) {

    #LocationInfo {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    #LocationName, #energyV {
        font-size: 20px;
    }

    #energyV {
        background-position: 0;
        float: right;
        text-indent: 3vw;
    }

    #LocationInfoBtn, #LocationAttackContainer {
        top: 15%;
        max-width: 90px;
        max-height: 90px;
    }
}
