#location_detail, #quest_detail, #factionChooser {
    position: relative;
    top: 12%;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: 89%;
}
.locationDetailImg{

}
.locationDetail, .questDetail, .faction_chooser{
    position: relative;
    background: black;
    width: 100%;
    height: 100%;
}
#locationDetail_image, #factionImg{
    position: relative;
    width: 100%;
    height: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-color: white;
    border-bottom: 1px solid;
}
#locationDetail_title , #factionChooser_title {
    position: relative;
    font-size: 1.3em !important;
    line-height: 1;
}
.locationDetail_content, .questDetail_content, .faction_content{
    position: relative;
    width: 90%;
    /*height: 64%;*/
    height: 47vh;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1em;
    margin-bottom: 0.4em;

    overflow-x: hidden;
    overflow-y: scroll;
}

.questDetail_content #questText {
    margin-bottom: 1.6em;
}


@media screen and (min-device-width: 575px) {

    #locationDetail_image, #factionImg {
        height: 28vh;
    }

    .locationDetail_content {
        height: 50%;
    }
}
