body {
    background: black;
}

#login{
    position: absolute;
    margin: 3% 0;
    padding: 0%;
    color: white;
    list-style-type: none;
    left: 50%;
    text-align: center;
    font-size: 96%;
    font-weight: 300;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

#login li {
    margin-bottom: 1.5em;
    float: left;
    position: relative;
    width: 100%;
}

#login .logo {
    margin-bottom: 1em;
}

#login .text {
    margin-bottom: 2em;
}

#login .btn {
    padding: 6px 10px !important;
    max-width: none;
    width: auto;
    width: inherit;
    display: inline-block;
    position: relative;
    font-weight: 300;
}

#login li label {
    float: left;
    text-align: right;
    /*width: 30%;*/
    width: 16vw;
    padding: 6px 0;
}
#login li .form-control {
    float: right;
    text-align: left;
    /*width: 52%;*/
    width: 28vw;
}
#login li:last-child {
    clear: both;
    width: auto;
    float: none;
}


@media screen and (max-device-width: 592px ) {
    #login {
        width: 80%;
    }

    #login li label {
        width: 37%;
    }

    #login li .form-control {
        width: 50%;
    }
}