
#userSpeech {
    position: relative;
    float: left;
    /*margin-right: 1%;*/
    width: 100%;
}

#factionDataContainer {
    position: relative;
    width: 100%;
    float: none;
    margin-bottom: 5%;
}

#factionContainerTitle {
    position: relative;
    width: 100%;
}

#factionListContainer {
    position: relative;
    width: 100%;
}

.newsFaction {
    position: relative;
    width: 100%;
    float: none;
}

.factionPoints, .factionName {
    position: relative;
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.factionImageWrapper {
    position: relative;
    float: left;
    width: 30%;
}

.factionImage {
    position: relative;
    width: 25px;
    height: 32px;
}

#newFeaturedQuestDataContainer {
    position: relative;
    overflow-y: scroll;
    width: 100%;
}

#newFeaturedQuestTitle {
    position: relative;
    width: 100%;
    margin-bottom: 5%;
    margin-top: 3%;
}

#newsContainer .quest {
    float: left;
}

#newsContainer .quest_part.quest_center .job_container {
    float: none;
    height: 4vh;
}
#newsContainer .quest_part.quest_center .quest_stats {
    padding-right: 5%;
}
