
#header {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    /*height: 20%;*/
    /*min-height: 20%;*/
}

#imageContainer {
    position: relative;
    max-width: 40%;
    float: left;
    border: white solid 1px;
    background: #222222;
    width: 100px;
    height: 100px;
}

#userImage {
    position: relative;
    /*background-image: url("../../img/buttons/Placeholder_profilpic.png");*/
    background: no-repeat center center;

    left: 0%;
    top: 2%;
    border: 0.1px solid gray;

    display: block;
    max-width: 95px;
    max-height: 95px;
    width: 99%;
    height: 99%;
    margin: auto;

    background-size: 100%;
}

#profileData {
    position: relative;
    display: block;
    width: 58%;
    height: 100%;
    float: left;
}

#profileTitle {
    position: relative;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.profileDataEntry {
    /*position: relative;*/
    margin-left: 1.5em;
    text-transform: uppercase;
}


#statsFooter {
    position: relative;
    width: 100%;
    height: 70%;
    height: auto;
    float: left;
    overflow-y: scroll;
    padding-top: 3vh;
    padding-bottom: 3%;
}

#fileChooser {
    display: block;
    position: relative;
    width: 70%;
    font-size: 0.6em;
    margin-left: 31%;
    margin-top: 3px;
    padding: 7px 0;
}
#logoutButton {
  font-size: 0.6em;
  color: white;
  margin-left: 15em;
  margin-top: 1px;
}
#logoutButton img {
  width: 1.5em;
  margin-right: 0.4em;
}

@media screen and(min-height: 570px) {

    #header{
        /*height: 30%;*/
    }
    #statsFooter{
        /*padding-top: 0;*/
    }
}


/* Firefox, Chrome, Safari (iPad and iPhone 6 and larger) */
@media only screen and(-webkit-min-device-pixel-ratio: 2) and(min-device-width: 768px) and(min-device-height: 1024px), only screen and (min-device-height: 667px) {

    #header {
        /*margin-bottom: 16%;*/
        margin-bottom: 30px;
    }

    #statsFooter {
        /*height: 75% !important;*/
    }
}


/* Little size phones using Chrome or Firefox */
@media only screen and (max-device-height: 666px) {

    #header {
        /*height: 30% !important;*/
        margin-bottom: 10% !important;
    }

    #statsFooter {
        /*max-height: 65% !important;*/
    }
}
