.questImage{
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    width: 100%;
    height: 20%;
}

.questIcon {
    z-index: 4;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0.7em;
    left: 0.7em;
    width: 4em;
    height: 4em;
}
