#quest_list {
    /*position: relative;
    top: 12%;
    right: 5%;
    float: right;
    height: 74%;
    width: 80%;
    overflow-y: scroll;*/
}

.quest {
    position: relative;
    width: 98%;
    height: 12em;
    background: gray;
    margin: 1em 0;
    /*float: left;*/
}

.quest_part {
    position: relative;
    color: white;
    float: left;
    height: 100%;
}

.quest_center {
    width: 72%;
    /*background-size: 100% 100%;
    background-image: url("../../img/ui/quest/quest_center.png");*/
}

.quest_left {
    left: 0%;
    width: 25%;
    /*background-position: right center;
    background-image: url("../../img/ui/quest/quest_left.png");*/
}

.quest_right {
    width: 0 !important;
    /*width: 25%;*/
    /*background-position: left center;
    background-image: url("../../img/ui/quest/quest_right.png");*/

}

.quest_title {
    position: relative;
    margin: 0.3em 0 0.6em !important;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.4;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.quest_title_sub {
    position: relative;
    text-align: left;
    padding-left: 5%;
    font-size: 0.77em;
}

.quest_image {
    z-index: 3;
    position: relative;
    top: 0%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.quest_image img {
    width: auto;
    height: 100%;
    transform: translateX(-35%);
}

.quest_icon {
    z-index: 4;
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0.7em;
    left: 0.7em;
    width: 2.5em;
    height: 2.5em;
}

.job_container {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: 2.3em;
    margin-left: 4%;
}

.job {
    position: relative;
    float: left;
    width: 2.5em;
    height: 100%;
    /*background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;*/
}

.jobIcon {
  position: absolute;
  height: 100%;
}

.quest_stats {
    display: block;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 8px;
    padding-left: 4%;
    text-align: right;
    width: 90%;
}

/*
.pointQuest, .energyQuest {
    position: relative;
    float: left;
    top: 20%;
    right: 0%;
    left: 8%;
    bottom: 0%;
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 0;
}
*/

.questPointIcon, .questEnergyIcon {
    width: 1.8em;
}
.questPointIcon {  }

.questEnergyIcon {
    height: 1.8em;
    width: 1.4em;
    width: auto;
}

.quest_stats p {
    /*position: relative;*/
    display: inline-block;
    /*float: left;*/
    /*top: 20%;*/
    /*right: 0;*/
    /*left: 8%;*/
    /*bottom: 0;*/
    font-size: 80%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
}
.quest_stats p.energyQuest {
    margin-left: 1.6em;
}
