.file_button_container,
.file_button_container input {
    height: 47px;
    width: 263px;
}

.file_button_container {
    background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
}

.file_button_container input {
    opacity: 0;
}

.save_container {
    display: block;
    float: left;
    width: 100%;
    margin-bottom: 0.6em;
}
.save_container .Abgabe {
    width: 13%;
    float: right;
    bottom: 0;
    left: 0;
    margin-right: 2%;
    max-width: 45px;
    max-height: 45px;
}

.setting-option {
    clear: both;
    width: 100%;
    color: #ffffff !important;
    float: left;
    margin: 0.4em 0;
}
.setting-option p {
    float: left;
    width: 50%;
}
.setting-option .setting {
    color: #ffffff !important;
    width: 45%;
    float: right;
}

.setting-option select {
    height: 32px;
}

.setting-option input[type=checkbox] {
    visibility: hidden;
    padding: 0;
}

.booleanCheck {
    width: 20px;
    position: relative;
    float: left;
    margin: 0.4em 0;
}

.booleanCheck label {
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    border: 1px solid white;
    background: transparent;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.booleanCheck label:focus {
    outline: none;
}

.booleanCheck label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 4px;
    left: 4px;
    border: 3px solid #fcfff4;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.booleanCheck input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
