#storyDialog{
    background-image: url("../../img/story/background.png");
}
#storyCharackter{
    position: absolute;
    top: 30%;
    width: 100%;
    height: 70%;
    background-image: url("../../img/story/typi.png");
}
#storyBubble{
    position: relative;
    background-size: contain;
    top: 20%;
    right: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url("../../img/story/sprechblase.png");
}

#storyBox{
    position: relative;
    background-size: contain;
    top: 20%;
    right: 0%;
    left: 50%;
    width: 50%;
    height: 50%;
    background-image: url("../../img/ui_questcase.png");
}
#storyBubble p{
    position: absolute;
    top: 40%;
    left: 20%;
    color: white;
}
