.viewElements{
    position: absolute;
    width: 100%;
    height: 100%;
}
.bgImage{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
}